#.angular
.angular
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by Jest
coverage/

# Directory for Jest HTML Reporters
html-report/
jest-html-reporters-attach/

# .env file
.env

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.swp
*.swo
